<div class="mh-100 mt-5" style="height: 100%;">
      <div class="section-header">
        <h2>Chuyển tiền</h2>
      </div>

      <div class="container d-flex justify-content-center align-items-center">
        <div class="position-relative">
          <form action="" method="post">
            <div class="card card-otp p-2 text-center">
              <h3 class="fw-bold">Hãy nhập mã OTP để chuyển tiền</h3>
              <div>
                <span>Mã OTP đã gửi tới</span>
                <span class="fw-bold">{{email}}</span>
              </div>
              <div
                id="otp"
                class="inputs d-flex flex-row justify-content-center mt-2"
              >
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp1"
                  id="first"
                  maxlength="1"
                />
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp2"
                  id="second"
                  maxlength="1"
                />
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp3"
                  id="third"
                  maxlength="1"
                />
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp4"
                  id="fourth"
                  maxlength="1"
                />
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp5"
                  id="fifth"
                  maxlength="1"
                />
                <input
                  class="m-2 text-center form-control form-control-otp rounded"
                  type="text"
                  required
                  name="otp6"
                  id="sixth"
                  maxlength="1"
                />
              </div>
              <div class="mt-4">
                <button class="btn btn-success px-4 validate" type="submit">Nhập
                  OTP</button>
              </div>
            </div>
          </form>

          <div class="card-2">
            <div
              class="content d-flex justify-content-center align-items-center"
            >
              <a
                href="history.back()"
                class="text-decoration-none ms-3 fw-bold"
              >Quay lại</a>
            </div>
          </div>
        </div>
      </div>
    </div>