<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-4" style="align-items: center;border-radius: 30px;">
        <div class="top">
          <img class="img-thumbnail" src="https://www.svgrepo.com/show/13650/success.svg" style="border: 0px;" />
          <div class="headr mt-3">
            <h5 class="font-weight-normal"><strong>Đổi mật khẩu thành công</strong></h5>
          </div>
        </div>
        <div class="modal-header border-0 mb-2">
          <div class="modal-title" id="exampleModalLabel" style="text-align: center;">
            <div>
              Bạn đã cài lại mật khẩu thành công.
              Nếu không có vấn đề gì hãy bấm nút
              <strong>"Đăng nhập"</strong> bên dưới.
            </div>
          </div>

        </div>
        <div class="modal-body">
          <a href="/users/login">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Đăng nhập</button></a>
        </div>
      </div>
    </div>
  </div>
</div>